<template>
  <div class="rating-display" ...attributes>
    {{#if @isImportance}}
      <span class="importance-stars">{{this.stars}}</span>
    {{else if @isFeasibility}}
      <span class="feasibility-stars">{{this.stars}}</span>
    {{else}}
      <span class="sort-options">{{this.sortValue}}</span>
    {{/if}}
  </div>
</template>
