<template>
  <div class="rating-display" ...attributes>
    {{#if @isImportance}}
      <div class="importance-stars">{{this.stars}}</div>
    {{else if @isFeasibility}}
      <div class="feasibility-stars">{{this.stars}}</div>
    {{else}}
      <div class="sort-value">{{this.sortValue}}</div>
    {{/if}}
  </div>
</template>
